<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.naist.ubi_lab.androidsample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/android_sample_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:icon="@mipmap/android_sample_icon">
        <activity
                android:name="jp.naist.ubi_lab.androidsample.view.activity.HistoryActivity"
                android:parentActivityName=".view.activity.MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="jp.naist.ubi_lab.androidsample.view.activity.MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
